@model IEnumerable<CarHouseThree.Models.UserDto>

@{
    ViewBag.Title = "List";
}

<h2>List Of Users</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserFname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserLname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "DeleteConfirm", new { id=item.UserID })
        </td>
    </tr>
}

</table>
