@model IEnumerable<CarHouseThree.Models.PostDto>

@{
    ViewBag.Title = "List";
}

<h2>Vehicles For Sale</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Seller
        </th>
        <th>
            Vehicle
        </th>
        <th>
            $Price$
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
          <strong>Seller Name: </strong>  @Html.DisplayFor(modelItem => item.UserName)
            <br />
          <strong>Contact: </strong>  @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td>
           <strong>Make: </strong> @Html.DisplayFor(modelItem => item.VehicleMake)
            <br />
            <strong>Model: </strong>  @Html.DisplayFor(modelItem => item.VehicleModel)
            <br />
            <strong>Year: </strong> @Html.DisplayFor(modelItem => item.VehicleYear)
            <br />
            <strong>Coloir: </strong> @Html.DisplayFor(modelItem => item.VehicleColour)
            <br />
            <strong>Mileage: </strong> @Html.DisplayFor(modelItem => item.VehicleKMs) <p>KM</p>
            <br />
           
        </td>
        <td>
            <strong>Price (Thousands): </strong>$@Html.DisplayFor(modelItem => item.PostPrice)
        </td>
        <td>

            @Html.ActionLink("Details", "Details", new { id = item.PostID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PostID })
        </td>
    </tr>
}

</table>
